@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  --black-color: rgb(0, 0, 0);
  --border-color: rgb(208, 214, 220);
  --blue-color: rgb(23, 162, 184);
  --yellow-color: rgb(255, 255, 109);
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  text-align: left;
}

.container {
  /* border:2px solid black; */
  padding: 0 1rem;
}

.container-centered {
  /* border:1px solid black; */
  max-width: 60%;
  margin: auto;
}

.art-display {
  display: flex;
  flex-direction: column;
}

.margin-high-bottom {
  margin-bottom: 2rem;
}

.margin-med-bottom {
  margin-bottom: 0.5rem;
}

.input-label-text {
  color: var(--black-color);
  font-size: 1.6rem;
  font-weight: 500;
}

.ele-size {
  width: 70%;
  margin: auto;
}

.textarea-box {
  resize: vertical;
  border: 0.5rem solid var(--border-color);
  border-radius: 4px;
  padding: 0.3rem 0.6rem;
  color: rgb(73, 80, 87);
  font-size: 0.8rem;
  overflow: auto;
}

.textarea-box:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-translate {
  cursor: pointer;
  background-color: var(--blue-color);
  color: white;
  text-align: center;
  padding: 0.4rem 0.6rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 0.5rem solid var(--blue-color);
}

.btn-translate:hover {
  background-color: rgb(25, 146, 165);
  border-color: rgb(12, 127, 145);
}

.btn-translate:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.result-text {
  background-color: var(--yellow-color);
  padding: 0.4rem 0.5rem;
  border: 0.8px solid rgb(127, 127, 127);
  border-radius: 2px;
}

.result-text h3 {
  margin-block-start: 0px;
}

.result-text:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.common-style-for-info {
  background-color: var(--yellow-color);
  color: var(--black-color);
  padding: 1rem 0rem;
  text-align: center;
  border-top-right-radius: 1rem;
}

main {
  margin: 0.5rem 0;
}

header h1 {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

footer h3 {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

footer p {
  margin-block-start: 0px;
  margin-block-end: 0px;
  text-align: left;
}
